<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Pet Care</title>
    <link  href="resources/styles/About.css" type="text/css" rel="stylesheet">
    <link href=" https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300&family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

</head>
<body>
    <section class="about">
<div class="main">
    <img src="resources/images/About.avif" alt="Pet">
    <div class="about-text">
        <h1>About Us</h1>
        <p><b>The main focus of this website is to serve as a comprehensive guide for pet owners, helping them meet the basic needs of their pets.
            We understand that responsible pet ownership goes beyond just providing food and shelter.<br> 
            It involves understanding the unique needs of each pet and creating a loving and nurturing environment for them to thrive.<br>
            This website provides valuable tips for pet owners on topics like providing fresh water daily, avoiding toxic food,
            grooming, and positive training techniques to their pets and also describe the guides available 
            for considerations before adopting pets, choosing the right cat, and caring for small animals.<br>
            In addition, it describe the directory of local pet services, including 
            grooming salons, and providing essential 
            services for their pets.</b></p>
</div>
    </section>

</body>
</html>