<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href="resources/styles/caretips.css">
    <script src="resources/script/AJAXcare.js"></script>

    <title>Care Types</title>
</head>
<body>
    <h1>Some Care types that should be considered by Pet Owners</h1>
    <table id="movieTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody id="tableBody"></tbody>
    </table>
</body>
</html>