<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Pet Care - FAQ </title>
    <link rel="stylesheet" type= "text/css" href="resources/styles/FAQ.css">
    <link href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
    
</head>
<body>
    <script type = "module" src = "resources/script/FAQ.js"></script>
    <div class="accordion">
        <div class="image-box">
            <img src = "resources/images/FAQ.jpg" alt = "FAQ">
        </div>
        <div class="accordion-text">
            <div class="title">FAQ</div>
        <ul class="faq-text">
            <li>
                <div class="question-arrow">
                    <span class="question">How often should I feed my pet?</span>
                    <i class="bx bxs-chevron-down arrow"></i>
                </div>
                <p>Varies... Adult pets: 1-2 times daily. Puppies/kittens may need more. Consult vet for advice.</p>
                <span class="line"></span>
            </li>
            <li>
                <div class="question-arrow">
                    <span class="question">How can I house-train my new puppy or kitten?</span>
                    <i class="bx bxs-chevron-down arrow"></i>
                </div>
                <p>House-training needs patience, consistency, and rewards. Set a routine, supervise indoors, and be patient.</p>
                <span class="line"></span>
            </li>
            <li>
                <div class="question-arrow">
                    <span class="question">What vaccinations does my pet need and how often?</span>
                    <i class="bx bxs-chevron-down arrow"></i>
                </div>
                <p>Vaccine needs vary. Core vaccines, like rabies, are essential. Non-core ones depend on individual risk. Consult your vet.</p>
                <span class="line"></span>
            </li>
            <li>
                <div class="question-arrow">
                    <span class="question">What should I do if my pet shows signs of illness or injury?</span>
                    <i class="bx bxs-chevron-down arrow"></i>
                </div>
                <p>Call your vet ASAP. Early treatment helps. Plan for emergencies, even after hours. </p>
                <span class="line"></span>
            </li>
            <li>
                <div class="question-arrow">
                    <span class="question">How can I help my pet adjust to a new environment or routine?</span>
                    <i class="bx bxs-chevron-down arrow"></i>
                </div>
                <p>Help pets adjust with routine, comfort, and positive reinforcement. Introduce changes gradually with reassurance and patience.</p>
                <span class="line"></span>
            </li>
        </ul>
        </div>
    </div>
    

</body>
</html>