<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Care</title>
    <link rel="stylesheet" type= "text/css" href = "resources/styles/homepage.css">
</head>
<body>
<header>
    <div class = "main">
        <div class="logo">
            <img src="resources/images/logo.png" alt="Logo">
        </div>
    <ul>
        <li class="active"><a href ="About">About</a></li>
        <li><a href= "Caretype">Caretips</a> </li>
        <li><a href= "Description">Care tips with description for new Pet Owners</a> </li>
        <li><a href= "Crud">CRUD - To add any tips </a> </li>
        <li><a href = "FAQ">FAQ</a></li>
        <li><a href = "ContactUs">Contact Us</a></li>
    </ul>
    </div>
    <div class="title">
        <h1>Pet Care</h1>
        <p>Taking Care for Your Pet!</p>
    </div>
</header>
</body>
</html>